{
  "version": 1,
  "minor_version": 4,
  "key": "core.config",
  "data": {
    "latitude": 28.852055,
    "longitude": -82.002835,
    "elevation": 23,
    "unit_system_v2": "us_customary",
    "location_name": "Norcoose",
    "time_zone": "America/New_York",
    "external_url": "https://shencentral.duckdns.org:61615",
    "internal_url": "http://haha.shencentral.net:8123",
    "currency": "USD",
    "country": "US",
    "language": "en",
    "radius": 100
  }
}