esphome:
  name: garage-speakers

esp32:
  board: mhetesp32minikit
  framework:
    type: esp-idf
    # version: 4.4.8
    # platform_version: 5.4.0

# Enable logging if desired
logger:
  # level: DEBUG

# Enable Home Assistant API
api:
  encryption:
    key: "CTFyPQePedUCosWIBkt2kzgb+i7lBBR2Pv8cBhZR6JI="

ota:
  - platform: esphome
    password: "07104475eef810e2a801860590073c5d"

wifi:
  ssid: !secret wifi_ssid
  password: !secret wifi_password
  domain: ".shencentral.net"

  # Enable fallback hotspot (captive portal) in case wifi connection fails
  ap: {}

captive_portal:

i2s_audio:
  i2s_lrclk_pin: GPIO33
  i2s_bclk_pin: GPIO19

speaker:
  - platform: i2s_audio
    id: output_speaker
    i2s_dout_pin: GPIO22
    dac_type: external    
    bits_per_sample: 32bit
    channel: mono
    buffer_duration: 60ms

media_player:
  - platform: speaker
    name: "Garage Speakers"
    id: media_out
    announcement_pipeline:
      speaker: output_speaker
      format: WAV
    codec_support_enabled: false
    buffer_size: 6000
    on_pause:
      - logger.log: "Playback paused!"
    on_idle:
      - logger.log: "Playback finished!"    

button:
  - platform: restart
    name: "Garage Speakers Restart"